body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
}

/* Reset margins for all headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.channel {
    display: flex;
    justify-content: space-between;
}

.control label, .arp-note-control label {
    display: block;
    margin-bottom: 10px;
}

.control input, .control select, .arp-note-control select {
    width: 100%;
    background: #333;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
}

.arp-display, .waveform-visualization, .filter-ui, .effect-ui {
    background: #444;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

#recordedNotesDisplay, .waveform-placeholder, .filter-placeholder, .effect-placeholder {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
}

.oscillator-visualization-placeholder, .filter-ui-placeholder, .effect-ui-placeholder {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ff6666; /* Default red placeholder */
}

.filter-ui-placeholder {
    background-color: #66ff66; /* Green placeholder */
}

.effect-ui-placeholder {
    background-color: #6666ff; /* Blue placeholder */
}

.mode-label {
    padding: 5px;
    color: #aaa;
    transition: color 0.4s;
}

.mode-label.master {
    color: red;
}

.mode-label.slave {
    color: rgb(66, 90, 248);
}

.step {
    width: 100%;
    height: 20px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background 0.3s;
    box-sizing: border-box; /* Ensure padding and borders are included in the total width and height */
}

.step.has-note {
    background-color: pink;
}

.step:hover {
    background: #eee;
}
